.service {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-bottom: 10px;
    text-align: center;
}

.btn {
    border: 3px solid orange;
    border-radius: 20px;
}

.service h2 {
    color: tomato;
}

.service h5 {
    color: blueviolet;
}